
body {
  margin: 0;
  @font-face {
font-family: 'Open Sans', sans-serif;
  font-style: normal;
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
  }
    

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {

  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

